<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunil.deviceinfo">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SensorsActivity"></activity>
        <activity android:name=".CpuActivity" />
        <activity android:name=".MemoryActivity" />
        <activity android:name=".SystemAppsActivity" />
        <activity android:name=".UserAppsActivity" />
        <activity android:name=".BatteryActivity" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".DeviceIDActivity" />
        <activity android:name=".GeneralActivity" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>